/target
configs/
*.log
logs/
perf.data*
.vscode

venv
__pycache__

*.pdf
*.png
*.svg

!perf.png

*.tfstate

.venv
.venv-wsl/
.venv-linux/
*.ipynb
*.pkl

**/deployment_artifacts/

# Experiment results and logs
cloudlab_*/
**/build/
**/jobs/
**/results/
test.img

latencies.txt